<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="game.js"></script>
  </head>
  
  <body ng-app="app">
    
    <div ng-controller="GameCtrl">
      
      <div ng-show="chooseSymbol" class="prompt" id="choose-symbol">
        <h3>Choose your symbol</h3>
        <div ng-click="chooseX()" class="selector"><p>X</p></div>
        <div ng-click="chooseO()" class="selector"><p>O</p></div>
      </div>
      
      <div ng-show="playAgain" class="prompt" id="play-again">
        <p>{{winner}}</p>
        <h3>Play again?</h3>
        <div ng-click="chooseYourSymbol()" class="selector"><p>Yes</p></div>
        <div ng-click="playAgain = false" class="selector"><p>No</p></div>
      </div>
      
      <div id="gameboard">
        <div class="board-row" ng-repeat="row in grid" ng-init="x = $index">
          <div class="space" ng-repeat="square in row track by $index" ng-click="claimForHuman(x, $index)">
            <p>{{square}}</p>
          </div>
        </div>
      </div>
    </div>
    
  </body>

</html>